<section class="Events-container">
    <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1
                class="heading max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl">
                Join Events <br>That You Like
            </h1>

            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl onlyText">Here You can find all upcoming and previous events
            </p>
        </div>

        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="https://demo.themesberg.com/landwind/images/hero.png" alt="hero image">
        </div>

    </div>
</section>


<!-- events -->
<section class="w-screen md:p-10 p-1 ">
    <h1
    class="heading max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl">
    Events
    </h1>
    <nav class="w-full h-10 flex justify-center item-center gap-10 my-5">
        <button (click)="activeTab = true" type="button" [ngClass]="{focused:activeTab}" class="focused normal-btn focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5">Upcoming</button>
        <button type="button" [ngClass]="{focused:!activeTab}" class="normal-btn focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5" (click)="activeTab=false" >Past</button>
    </nav>
    <div class="w-screen flex justify-center items-center gap-4 sm:flex-col md:flex-row flex-wrap lg:p-10">


        <!-- for upcoming events  -->
        @if(activeTab){
            @for(event of Upcomingevents; track event.id) {
                <app-event-card [event]="event"></app-event-card>
            }
        }@else {
            @for(event of Pastevents; track event.id) {
                <app-event-card [event]="event"></app-event-card>
            }
        }

</div>

</section>
