<h2 class="eventCategory">{{ category }}</h2>
<div class="eventBoard scroll-smooth focus:scroll-auto" >
    @for(event of events; track event.title) {
        <app-event-card [event]="event"></app-event-card>
    }
    <!-- next  -->
    <div class="tile-container flex justify-center items-center">

        <a routerLink="/events" class="Event-page-ancor w-16 h-16 rounded-lg flex justify-center items-center ">
            <i class="fa-solid fa-arrow-right icon"></i>
        </a>

      </div>





</div>



