:host {
    display: block;
    height: 100%;
    width: 100%;
    padding: 2rem;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.eventCategory {
    font-size: 2rem;
    font-weight: 700;
    /* background-color: var(--accent2); */
    background: linear-gradient(160deg, var(--accent) 0%, var(--accent2) 100%);
    color: var(--background);
    margin-bottom: 1.5rem;
    padding: 0.5rem 2rem;
    position: absolute;
    margin-left: 2.5%;
    clip-path: polygon(
        10% 0%,
        90% 0%,
        100% 40%,
        100% 100%,
        90% 100%,
        10% 100%,
        0% 60%,
        0 0
    );
}

.eventBoard {

    display: flex;
    margin-top: 6rem;
    gap: 2rem;
    transition: all 0.3s;
    height: clamp(300px, 80vh, 600px);
    white-space: nowrap;
    margin-left: 10%;
    width: 100vw;
    overflow: hidden;
    overflow-y: auto;
}
