:host {
    display: block;
    height: 500px;
    width: 100%;
    padding: 2rem;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.fancyContainer {
    width: 23vw;
    height: 5rem;
    background-color: var(--accent2);
    clip-path: polygon(0% 1%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    position: absolute;
}

.eventCategory {
    font-size: 2rem;
    font-weight: 700;
    color: var(--accent2);
    margin-bottom: 1.5rem;
    padding: 1rem;
    position: absolute;
    width: 22.5vw;
    clip-path: polygon(0% 1%, 90% 0%, 100% 50%, 100% 100%, 10% 100%, 0% 60%);
    background-color: var(--background);
    z-index: 1;
}

.eventBoard {
    display: flex;
    margin-top: 6rem;
    gap: 2rem;
    transition: all 0.3s;
    height: 80%;
    white-space: nowrap;
    padding-right: 2rem;
}
