<section class="overflow-hidden h-96 relative z-0">
    <img class="blur-sm absolute w-full object-cover bottom-0" src="/memories/project-2.jpg" alt="" />
    <div
        class="bg-[#191a1d9d] w-full h-full px-4 sm:px-6 lg:px-8 relative text-center flex flex-col justify-center items-center my-auto"
    >
        <h1
            class="max-w-2xl mx-auto text-center font-manrope font-bold text-4xl mb-5 md:text-5xl md:leading-normal heroText"
        >
            "Create, Explore and Apply"
        </h1>
        <p
            class="max-w-sm mx-auto text-center text-base font-normal leading-7 mb-9 heroDesc"
        >
            <!-- Invest Our Goal is to spread knowladge -->
        </p>
    </div>
</section>

<section class="py-14 lg:py-24 relative">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-9">
            <div class="img-box">
                <img
                    src="/suse.png"
                    alt="About Us tailwind page"
                    class="max-lg:mx-auto"
                />
            </div>
            <div class="lg:pl-[100px] flex items-center">
                <div class="data w-full">
                    <h2
                        class="font-manrope font-bold text-4xl lg:text-5xl text-black mb-9 max-lg:text-center relative title"
                    >
                        About Us
                    </h2>
                    <p
                        class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto description"
                    >
                        Renovation Tech Robotics and Aeromodelling an
                        organization formed by the students of Lovely
                        Professional University. It works in the field of
                        technology to whip up innovative ideas, with proper
                        implementation and organizing events with regard to
                        Robotics and Aeromodelling. We provide a dynamic
                        environment for the students to execute their ideas in
                        groups to forge real time application and apply them to
                        manage practical situations so as to nurture existing
                        skills to a competitive level.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-14 lg:py-24 relative">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
        <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-9">
            <div class="lg:pr-24 flex items-center">
                <div class="data w-full">
                    <img
                        src="/memories/group-1.jpg"
                        alt="About Us tailwind page"
                        class="block lg:hidden mb-9 mx-auto"
                    />
                    <h2
                        class="font-manrope font-bold text-4xl lg:text-5xl mb-9 max-lg:text-center title"
                    >
                        We are Creative Since 2017
                    </h2>
                    <p
                        class="font-normal text-xl leading-8 max-lg:text-center max-w-2xl mx-auto description"
                    >
                        Renovation Tech Robotics and Aeromodelling, established
                        in 2017 by students of Lovely Professional University,
                        has become a center for innovation in robotics and
                        aeromodelling. Throughout the years, it has offered a
                        vibrant environment for practical learning, teamwork,
                        and the creation of advanced projects, enhancing
                        students’ abilities to a high standard.
                    </p>
                </div>
            </div>
            <div class="img-box">
                <img
                    src="/memories/group-1.jpg"
                    alt="About Us tailwind page"
                    class="hidden lg:block"
                /> 
            </div>
        </div>
    </div>
</section>

<!-- galary -->
<section class="grid xs:grid-cols-2 grid-cols-3 md:grid-cols-4 gap-4 px-6 mx-6">
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/project-2.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/ktrm.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="memories/about-mem/females.jpg"
                alt=""
            />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/solo-1.png"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/ptrdrone.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/sqr.jpg"
                alt=""
            />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/IITDEL.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/Scr.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/GRP.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/TVL.jpg"
                alt=""
            />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/mic.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/carbot.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/fpvdrone.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/WMRN.jpg"
                alt=""
            />
        </div>
    </div>
</section>

<!-- <section class="py-14 lg:py-24 section">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
        <div class="mb-16 rounded-full">
            <h2 class="text-4xl font-manrope font-bold title text-center">
                Our Alumnis
            </h2>
        </div>
        <div class="swiper-wrapper flex full overflow-hidden overflow-x-auto gap-4  place-items-center">

            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
             

            </div>

    </div>
</section> -->

<section class="py-14 lg:py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mb-24">
            <h2 class="font-manrope text-4xl text-center font-bold title mb-6">
                Meet our Team
            </h2>
            <p class="text-lg description text-center">
                We provide all the advantage that can simplify all your
                financial and banking support without any further issues
            </p>
        </div>
        <!--Slider Wrapper-->
        <div class="swiper teamswiper pb-10">
            <div class="swiper-wrapper grid grid-cols-3 gap-2 gap-y-2 justify-center items-center [&>*]:m-2  [&>*]:my-2">
                <!-- about developers component starts  from here  -->
            <app-member-card name="Siddharth kuswaha" imageUrl="/people/sid.png" Position="CEO" url="https://www.linkedin.com/in/siddharth-kushwaha-038b8023a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"></app-member-card>
            <app-member-card name="Vaishnav Tatapudi" imageUrl="/people/Vaishnav2.jpeg" Position="Co-CEO" url="https://www.linkedin.com/in/vaishnav12/"></app-member-card>
            <app-member-card name="Niranj S" imageUrl="/people/Niranj.jpeg" Position="R&D Head" url="https://www.linkedin.com/in/niranj-s/"></app-member-card>
            <app-member-card name="Himanshu Patil" imageUrl="/people/Himanshu.jpeg" Position="Technical-Head" url="https://www.linkedin.com/in/himanshupatil849/"></app-member-card>
            <app-member-card name="Somanshu Mohapatra" imageUrl="/people/Somanshu.jpeg" Position="Co Tech-Head" url="https://www.linkedin.com/in/somanshu-mohapatra-124589288/"></app-member-card>
            <app-member-card name="Aswini" imageUrl="/people/aswini2.jpeg" Position="Events Head" url=""></app-member-card>
            <app-member-card name="Gopal Chaudhary" imageUrl="/people/sid.png" Position="Web Developer" url="https://www.linkedin.com/in/mr-gopal/"></app-member-card>
            <app-member-card name="Harjas Singh" imageUrl="/people/sid.png" Position="Web Developer"></app-member-card>
            <app-member-card name="Ritvik  Bharti" imageUrl="/people/Ritvik2.png" Position="Web Developer" url="https://www.linkedin.com/in/ritvik-bharti-677609257/"></app-member-card>
            <app-member-card name="Aditya Yadav" imageUrl="/people/sid.png" Position="Web Developer" url="https://www.linkedin.com/in/aditya-nandkishore-yadav-5a372b1b1/"></app-member-card>
            
            <app-member-card name="Anirban Sarkar" imageUrl="/people/Anirban.jpeg" Position="Finance Head" url="https://www.linkedin.com/in/anirban-sarkar-906814284/"></app-member-card>
            <app-member-card name="Sarthak Gaira" imageUrl="/people/Sarthak.jpeg" Position="Flying Head" url="https://www.linkedin.com/in/sarthak-gaira-8b7940212/"></app-member-card>
            <app-member-card name="Awanit Kumar" imageUrl="/people/Awanit.jpeg" Position="Graphic Designer"></app-member-card>
            <app-member-card name="Ayan Pratap" imageUrl="/people/Ayan.jpeg" Position="Public Speaker" url = "https://www.linkedin.com/in/ayannsinghhh/"></app-member-card>
            </div>

        </div>
    </div>
</section>
<section class="py-14 lg:py-24 section">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
        <div class="mb-16 rounded-full">
            <h2 class="text-4xl font-manrope font-bold title text-center">
                Our Alumni
            </h2>
        </div>
        <div class="swiper-wrapper flex full overflow-hidden overflow-x-auto gap-4  place-items-center">

            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
             

            </div>

    </div>
</section>
