<section class="overflow-hidden h-96 relative z-0">
    <img class="blur-sm absolute w-full" src="/memories/project-2.jpg" alt="" />
    <div
        class="bg-[#191a1d9d] w-full h-full px-4 sm:px-6 lg:px-8 relative text-center flex flex-col justify-center items-center my-auto"
    >
        <h1
            class="max-w-2xl mx-auto text-center font-manrope font-bold text-4xl mb-5 md:text-5xl md:leading-normal heroText"
        >
            "Create, Explore and Apply"
        </h1>
        <p
            class="max-w-sm mx-auto text-center text-base font-normal leading-7 mb-9 heroDesc"
        >
            <!-- Invest Our Goal is to spread knowladge -->
        </p>
    </div>
</section>

<section class="py-14 lg:py-24 relative">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-9">
            <div class="img-box">
                <img
                    src="/suse.png"
                    alt="About Us tailwind page"
                    class="max-lg:mx-auto"
                />
            </div>
            <div class="lg:pl-[100px] flex items-center">
                <div class="data w-full">
                    <h2
                        class="font-manrope font-bold text-4xl lg:text-5xl text-black mb-9 max-lg:text-center relative title"
                    >
                        About Us
                    </h2>
                    <p
                        class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto description"
                    >
                        Renovation Tech Robotics and Aeromodelling an
                        organization formed by the students of Lovely
                        Professional University. It works in the field of
                        technology to whip up innovative ideas, with proper
                        implementation and organizing events with regard to
                        Robotics and Aeromodelling. We provide a dynamic
                        environment for the students to execute their ideas in
                        groups to forge real time application and apply them to
                        manage practical situations so as to nurture existing
                        skills to a competitive level.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-14 lg:py-24 relative">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
        <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-9">
            <div class="lg:pr-24 flex items-center">
                <div class="data w-full">
                    <img
                        src="/memories/group-1.jpg"
                        alt="About Us tailwind page"
                        class="block lg:hidden mb-9 mx-auto"
                    />
                    <h2
                        class="font-manrope font-bold text-4xl lg:text-5xl mb-9 max-lg:text-center title"
                    >
                        We are Creative Since 2017
                    </h2>
                    <p
                        class="font-normal text-xl leading-8 max-lg:text-center max-w-2xl mx-auto description"
                    >
                        Renovation Tech Robotics and Aeromodelling, established
                        in 2017 by students of Lovely Professional University,
                        has become a center for innovation in robotics and
                        aeromodelling. Throughout the years, it has offered a
                        vibrant environment for practical learning, teamwork,
                        and the creation of advanced projects, enhancing
                        students’ abilities to a high standard.
                    </p>
                </div>
            </div>
            <div class="img-box">
                <img
                    src="/memories/group-1.jpg"
                    alt="About Us tailwind page"
                    class="hidden lg:block"
                />
            </div>
        </div>
    </div>
</section>

<!-- galary -->
<section class="grid grid-cols-2 md:grid-cols-4 gap-4 px-6 mx-6">
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/project-2.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/ktrm.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="memories/about-mem/females.jpg"
                alt=""
            />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/solo-1.png"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/ptrdrone.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/sqr.jpg"
                alt=""
            />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/IITDEL.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/Scr.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/GRP.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/TVL.jpg"
                alt=""
            />
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/mic.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/carbot.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/fpvdrone.jpg"
                alt=""
            />
        </div>
        <div>
            <img
                class="h-auto max-w-full rounded-lg"
                src="/memories/about-mem/WMRN.jpg"
                alt=""
            />
        </div>
    </div>
</section>

<section class="py-14 lg:py-24 section">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
        <div class="mb-16 rounded-full">
            <h2 class="text-4xl font-manrope font-bold title text-center">
                What our happy user says
            </h2>
        </div>

        <div
            style="
                --swiper-navigation-color: #fff;
                --swiper-pagination-color: #fff;
            "
            class="swiper mySwiper2"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="relative mb-20">
                        <!--Slider Wrapper-->
                        <div class="max-w-max mx-auto lg:max-w-4xl">
                            <p
                                class="text-lg description leading-8 mb-8 text-center"
                            >
                                I have been using pagedone for several months
                                now, and I must say that it has made my life a
                                lot easier. The platform's intuitive interface
                                and ease of use have allowed me to manage my
                                finances more effectively and make informed
                                investment decisions. I particularly like the
                                product's auto-tracking feature, which has saved
                                me a lot of time and effort.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="relative mb-20">
                        <!--Slider Wrapper-->
                        <div class="max-w-max mx-auto lg:max-w-4xl">
                            <p
                                class="text-lg description leading-8 mb-8 text-center"
                            >
                                I have been using pagedone for several months
                                now, and I must say that it has made my life a
                                lot easier. The platform's intuitive interface
                                and ease of use have allowed me to manage my
                                finances more effectively and make informed
                                investment decisions. I particularly like the
                                product's auto-tracking feature, which has saved
                                me a lot of time and effort.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="relative mb-20">
                        <!--Slider Wrapper-->
                        <div class="max-w-max mx-auto lg:max-w-4xl">
                            <p
                                class="text-lg description leading-8 mb-8 text-center"
                            >
                                I have been using pagedone for several months
                                now, and I must say that it has made my life a
                                lot easier. The platform's intuitive interface
                                and ease of use have allowed me to manage my
                                finances more effectively and make informed
                                investment decisions. I particularly like the
                                product's auto-tracking feature, which has saved
                                me a lot of time and effort.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-14 lg:py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mb-24">
            <h2 class="font-manrope text-4xl text-center font-bold title mb-6">
                Meet our Team
            </h2>
            <p class="text-lg description text-center">
                We provide all the advantage that can simplify all your
                financial and banking support without any further issues
            </p>
        </div>
        <!--Slider Wrapper-->
        <div class="swiper teamswiper pb-10">
            <div class="swiper-wrapper grid grid-cols-3 gap-2 gap-y-2 justify-center items-center [&>*]:m-2  [&>*]:my-2">
                <!-- about developers component starts  from here  -->
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            <app-member-card name="Siddhart kushwa" imageUrl="/people/sid.png"></app-member-card>
            </div>
            <button
                id="slider-button-left"
                class="swiper-button-prev p-2.5 group flex justify-center items-center socials w-12 h-12 transition-all duration-500 rounded-full"
                data-carousel-prev
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                >
                    <path
                        d="M8.38413 15.1022L3.33301 10.0511M3.33301 10.0511L8.38413 5M3.33301 10.0511L18.3329 10.0511"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </button>
            <button
                id="slider-button-right"
                class="swiper-button-next p-2.5 group flex justify-center items-center w-12 h-12 transition-all duration-500 rounded-full socials"
                data-carousel-next
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                >
                    <path
                        d="M11.6158 5L16.6669 10.0511M16.6669 10.0511L11.6158 15.1022M16.6669 10.0511L1.66699 10.0511"
                        stroke="currentColor"
                        stroke-width="1.6"
                        stroke-linecap="round"
                    />
                </svg>
            </button>

            <div class="swiper-pagination"></div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>
