<div class="heroContainer">
    <h2 class="heroTitle">
        Welcome to the <span class="highlight">RADR</span> - <span class="simpleHighlight">Robotics</span> and <span class="simpleHighlight">Drones</span> Research Lab.
    </h2>
    <p class="heroDescription">
        We are a group of students and professors who are passionate about robotics and drones. We are always looking for new members to join our team. If you are interested in robotics and drones, you are in the right place!
    </p>
    <button class="heroButton">Join Us</button>
</div>
<img src="/illustration.png" alt="students maling robots" class="illustration" />
