<section
    class="leading-normal p-5 box-border tracking-normal text-indigo-400 bg-cover heroSection"
>
    <div class="h-[80vh] overflow-hidden w-full justify-center items-center flex">
        <!--Main-->
        <div
            class="container mx-auto toMargin flex flex-col-reverse md:flex-row items-center"
        >
            <!--Left Col-->
            <div
                class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden"
            >
                <h1
                    class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left heroTitle rtraLoad"
                >
                    Renovation Tech <span class="highlight">Robotics</span> and <span class="highlight">Aeromodelling</span>
                    <!-- <span
                        class="highlight"
                    > 
                        Hero Message
                    </span> -->
                </h1>
                Aditya
                <p
                    class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left heroDescription"
                >
                    "Explore, Create, Apply"
                </p>

                <form
                    class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4 z-2"
                    *ngIf="!user.email"
                >
                    <div class="flex items-center justify-between pt-4">
                        <button
                            class="text-white font-bold py-2 px-4 rounded hover:scale-105 duration-300 ease-in-out heroButton"
                            type="button"
                            (click)="login()"
                        >
                            Login With Google
                        </button>
                    </div>
                </form>
            </div>

            <!--Right Col-->
            <div class="w-full xl:w-3/5 p-12 overflow-hidden">
                <!-- <img

                    class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6"
                    src="/illustration.svg"
                /> -->
                <video
                    autoplay
                    loop
                    class="mx-auto md:w-4/5 transform overflow-hidden w-64  transition hover:scale-105 duration-700 ease-in-out hover:rotate-6"
                    src="/videos/kid.mp4"
                ></video>
            </div>
        </div>
    </div>
</section>
