.heroSection {
    background-color: var(--primary);
}

 .heroTitle {
    color: var(--text);
    line-height: 1.2;
}

.toMargin {
    margin: 0 5%;
}

.highlight {
    background: linear-gradient(90deg, var(--accent2), var(--accent3));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    transition: all 1s;
    background-size: 200% auto;
    animation: gradientAnimation 3s ease-in-out infinite alternate;
}


.heroDescription {
    color: var(--subtext);
}

form {
    background-color: var(--surface);
}

.emailLabel {
    color: var(--accent);
}

#emailAddress {
    background-color: var(--secondary);
    outline: none;
    border: 2px solid var(--accent);
    color: var(--text);
}

#emailAddress::placeholder {
    color: var(--subtext);
}

.heroButton {
    border: none;
    outline: none;
    background: linear-gradient(127deg, var(--accent), var(--accent2));
    background-size: 200% auto;
    color: var(--primary);
    cursor: pointer;
    transition: all 0.3s;
    animation: gradientAnimation 3s ease-in-out infinite alternate;
}

.heroButton:active {
    transform: scale(0.95);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.rtraLoad{
    animation: slideIn 1s both;
}

@keyframes slideIn {
    from{
        transform: translateX(-30px);
    }
    to{
        transform: translateX(0px);
    }
    
}