<header>
    <a routerLink="/" class="logo">
        <img src="/suse.png" alt="logo" class="logoImage" />
    </a>

<nav class="navBar">
    <a routerLink="/about" class="navLink"><i class="fa-solid fa-users"></i></a>
    <a routerLink="/memories" class="navLink"><i class="fa-solid fa-memory"></i></a>
    <a routerLink="/events" class="navLink"><i class="fa-solid fa-calendar-days"></i></a>
    <a routerLink="/contact" class="navLink"><i class="fa-solid fa-headset"></i></a> 
</nav>
<a routerLink="/auth" class="navLink profile">
    <img src="/Talk.svg" alt="profile picture" class="profileImage" />
</a>

</header>