<a routerLink="/" class="logo">
    <img src="/suse.png" alt="logo" class="logoImage" />
    <h1 class="logoText">RADR</h1>
</a>

<nav class="navBar">
    <a routerLink="/about" class="navLink">About Us</a>
    <a routerLink="/memories" class="navLink">Memories</a>
    <a routerLink="/events" class="navLink">Events</a>
    <a routerLink="/contact" class="navLink">Contact Us</a>
    <a routerLink="/auth" class="navLink profile">
        <img src="/Talk.svg" alt="profile picture" class="profileImage" />
    </a>
</nav>
