header{
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color: var(--surface);
 }

a{
    color: var(--text);
    font-size: large;
}

.arrow {
    color: var(--text);
    font-size: 2rem;
    transition: all 0.3s;
}

#theme-changer {
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}

