header{
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color: var(--surface);
 }

a{
    color: var(--text);
    font-size: large;
}

.midNav {
    margin: 0 auto;
}

.endNav {
    margin-left: auto;
}

.mobileNav a:hover{
    background-color: var(--primary);
}

.mobileNav {
    background-color: var(--surface);
}

.themeChanger {
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}

