<header class="bg-white w-screen">
    <nav
        class="flex max-w-8xl items-center justify-between p-3 lg:px-8"
        aria-label="Global"
    >
        <div class="flex lg:flex-1">
            <a routerLink="/" class="-m-1.5 p-1.5">
                <span class="sr-only">RTRA</span>
                <img class="h-16 w-auto" src="/suse.png" alt="" />
            </a>
        </div>
        <div class="flex lg:hidden">
            <button
                type="button"
                class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    (click)="isManueOpened = !isManueOpened"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                    />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12 midNav">
            <a *ngFor="let navigation of navigations" [routerLink]="navigation.link" class="text-sm font-semibold leading-6 text-gray-900"
                >{{navigation.title}}</a
            >
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-x-12 endNav">
            <i class="themeChanger fa-solid fa-sun fa-xl"></i>
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div
        class="lg:hidden"
        [className]="isManueOpened ? '' : 'hidden'"
        role="dialog"
        aria-modal="true"
    >
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div
            class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 mobileNav"
        >
            <div class="flex items-center justify-between">
                <a routerLink="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">RTRA</span>
                    <img class="h-8 w-auto" src="/suse.png" alt="" />
                </a>
                <button
                    type="button"
                    class="-m-2.5 rounded-md p-2.5 text-gray-700"
                >
                    <span class="sr-only">Close menu</span>
                    <svg
                        (click)="isManueOpened = !isManueOpened"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18L18 6M6 6l12 12"
                        />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <a *ngFor="let navigation of navigations"
                           [routerLink]="navigation.link"
                           class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900">
                           {{ navigation.title }}
                        </a>
                      </div>

                    <div class="py-6">
                        <i class="themeChanger fa-solid fa-sun fa-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
