<h1 class="footerTitle">Say Hi, Hola or just 👋🏾</h1>

<div class="container">
    <footer>
        <div class="footerContainer">
            <h1 class="title" id="leftTitle">Got questions or feedback?</h1>
            <p class="description" id="leftDescription">
                Be the first to ask, be the first to let us know. We are always
                available to attend to you.
            </p>
            <button class="button" id="leftButton">Contact Us</button>
        </div>
        <div class="footerContainer">
            <h1 class="title" id="rightTitle">Join our community</h1>
            <p class="description" id="rightDescription">
                You can find sneak peeks, vote on upcoming features, chat, share
                and learn from our team.
            </p>
            <div class="socials">
                <a
                    href="https://www.facebook.com"
                    target="_blank"
                    class="socialLink"
                >
                    <img
                        src="/facebook.svg"
                        alt="Facebook"
                        class="socialImage"
                    />
                </a>
                <a
                    href="https://www.youtube.com"
                    target="_blank"
                    class="socialLink"
                >
                    <img src="/youtube.svg" alt="Youtube" class="socialImage" />
                </a>
                <a
                    href="https://www.instagram.com"
                    target="_blank"
                    class="socialLink"
                >
                    <img
                        src="/instagram.svg"
                        alt="Instagram"
                        class="socialImage"
                    />
                </a>
                <a
                    href="https://whatsapp.com"
                    target="_blank"
                    class="socialLink"
                >
                    <img
                        src="/whatsapp.svg"
                        alt="Whatsapp"
                        class="socialImage"
                    />
                </a>
                <a
                    href="https://www.gmail.com"
                    target="_blank"
                    class="socialLink"
                >
                    <img src="/gmail.svg" alt="Gmail" class="socialImage" />
                </a>
            </div>
        </div>
    </footer>
</div>
