<app-hero-section></app-hero-section>
<!-- component -->
<div
    class="QnA-cards px-4 mb-8 py-8 rounded-3xl mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
>
    <div
        class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row"
    >
        <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
            <div class="max-w-xl mb-6">
                <h2
                    class="subText font-sans text-4xl sm:mt-0 mt-6 font-medium tracking-tight sm:text-5xl sm:leading-none max-w-lg mb-6"
                >
                    Our Passion
                </h2>
                <p class="text-base md:text-xl">
                    Our members are driven by a passion for innovation,
                    exploring new frontiers in robotics, automation,
                    aeromodelling, and aerospace engineering.
                </p>
            </div>
        </div>
        <img alt="logo" width="420" height="120" src="/ourPassion.jpg" />
    </div>
</div>

<div
    class="px-4 QnA-cards mb-8 py-8 rounded-3xl mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
>
    <div
        class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row"
    >
        <img alt="logo" width="420" height="70" src="/ourMission2.jpg" />

        <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
            <div class="max-w-xl mb-6">
                <h2
                    class="subText font-sans text-3xl sm:mt-0 mt-6 font-medium tracking-tight sm:text-4xl sm:leading-none max-w-lg mb-6"
                >
                    Our Mission
                </h2>
                <p class="text-base md:text-lg">
                    We aim to provide a platform for students to engage in
                    hands-on learning, collaborative problem-solving, and the
                    development of cutting-edge projects.
                </p>
            </div>
        </div>
    </div>
</div>

<div
    class="px-4 QnA-cards mb-8 py-8 rounded-3xl mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
>
    <!-- <div
        class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row"
    >
        <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
            <div class="max-w-xl mb-6">
                <h2
                    class="subText font-sans text-3xl sm:mt-0 mt-6 font-medium tracking-tight sm:text-4xl sm:leading-none max-w-lg mb-6"
                >
                    Why events
                </h2>
                <p class="text-base md:text-lg">
                    Lorem Ipsum is so cool and awesome to act and so cool to
                    think. And very awesome to eat and talk.
                </p>
            </div>
        </div>
        <img alt="logo" width="420" height="120" src="/robot-1.svg" />
    </div> -->
</div>
<app-event-board
    [events]="events"
    [category]="'Upcoming Events'"
></app-event-board>
