<img src="/{{event.tag}}.svg" alt="Illustration" class="eventImage">
<div class="eventDetails">
    <div class="eventTop">
        <p class="eventDate">{{event.date}}</p>
    </div>
    <h1 class="eventTitle">{{event.title}}</h1>
    <p class="eventDescription">{{event.description}}</p>
    <div class="eventBottom">
        <p class="eventLocation">{{event.location}}</p>
        <p class="eventTimings">{{event.timings}}</p>
    </div>
    <a [routerLink]="'event-detail/' + event.id">
        <button class="eventButton">More Info</button>
    </a>
     
</div>
