.tile-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: 1px solid var(--accent3);
    background-color: var(--background);
    border-radius: 8px;
    padding: 16px;
    height: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 0 0 auto;
    scroll-snap-align: center;
    transition: 0.3s all;
}
.tile-container:hover {
    scale: 1.03;
}
.tile-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

.tile-image img {
    width: 100%;
    height: auto;
}

.tile-content {
    padding: 5px;
}

.tile-content h3 {
    width: 100%;
    height: 2rem;
    /* background-color: red; */
    color: var(--subtext);
    font-size: 1.25rem;
    font-weight: bold;
    text-wrap: wrap;
    overflow: hidden;
}

.tile-details {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.tile-icon {
    margin-right: 8px;
}

.tile-info {
    color: var(--accent2);
    font-size: 0.9rem;
}

.tile-location {
    color: var(--accent);
    font-size: 0.9rem;
    width: 90%;
    padding: 0.1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.tile-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f0f0f0;
    color: var(--surface);
    transition: 0.3s;
}

#btn {
    color: #313244;
}

.spacial-btn {
    background-color: var(--accent3);
}

.tile-button:hover {
    scale: 1.1;
}

svg {
    color: var(--text);
}
