/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Monospace', sans-serif;
    scrollbar-width: none;
}
:root{
    --background: #11111b;
    --surface: #181825;
    --primary: #1e1e2e;
    --secondary: #313244;
    --text: #cdd6f4;
    --subtext: #a6adc8;
    --accent: #b4befe;
    --accent2: #f38ba8;
    --accent3: #cba6f7;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
    visibility: hidden;
    opacity: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--background);
}
