/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --background: #11111b;
    --surface: #181825;
    --primary: #1e1e2e;
    --secondary: #313244;
    --text: #cdd6f4;
    --subtext: #a6adc8;
    --accent: #b4befe;
    --accent2: #f38ba8;
    --accent3: #cba6f7;
    font-family: 'Monospace', sans-serif;
}

body {
    width: 100dvw;
    max-width: 100dvw;
    height: fit-content;
    min-height: 100svh;
    overflow-x: hidden;
    background-color: var(--background);
}

app-root {
    min-height: 100svh;
    min-width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;
}
